apiVersion: v1
kind: Secret
metadata:
  name: {{ cluster.name }}
  namespace: istio-system
  labels:
    istio/multiCluster: 'true'
data:
  {{ cluster.name }}: {{ lookup("template", "kubeconfig.yaml.j2") | b64encode }}     

