apiVersion: v1
kind: Config
clusters:
- name: {{ cluster.name }}
  cluster:
    certificate-authority-data: {{ ca_data.stdout }}
    server: https://{{ cluster.url }}  
contexts:
- name: {{ cluster.name }}
  context:
    cluster: {{ cluster.name }}
    user: {{ cluster.name }}
current-context: {{ cluster.name }}
users:
- name: {{ cluster.name }}
  user:
    token: {{ token.stdout }}