apiVersion: v1
kind: Config
clusters:
- cluster:
    certificate-authority-data: {{ ca_data.stdout }}
    server: {{ cluster.url }}
    name: {{ cluster.name }}
contexts:
- context:
    cluster: {{ cluster.name }}
    user: {{ cluster.name }}
    name: {{ cluster.name }}
current-context: {{ cluster.name }}
users:
- name: {{ cluster.name }}
    user:
    token: {{ token.stdout }}